# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env
*.log

# Node
node_modules/
npm-debug.log*
package-lock.json

# IDE
.vscode/
.idea/
*.sublime-workspace
desktop.ini

# OS
Thumbs.db
.DS_Store

# Playwright
.playwright-cli/
